<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Ian Jravin Macharia</h1>
		<p>I'm a web developer in the making living in Nairobi, KE</p>
		<p> Plant operator by proffession, writer, poet and blogger by passion and rally driver at heart <a href="http://ianjravin.wordpress.com">my blog</a>. Am hands on when it comes to anything automotive but now my fingers are gentle on the keyboard and eyes kept open by coffee! </p>
    <p>Currently a student at <a href="http://moringaschool.com">Moringaschool,</a> previously went to Kenya Institute of Highways and Building technology and Abdul Sidi Rally Academy.</p>
    <p>Born and raised in Nanyuki in a family of 3, only son in our family. Dad works in the military and living in the barracks made me the man i am today.</p>

	</div>
</div>
